#login-navbar {
    margin-bottom: 5%;
    font-family: "Lucida Console", "Courier New", monospace;
}
.login-container h3,
.login-container h6 {
    margin-bottom: -10px; 
}
.welcomebutton{
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%);
    padding: 15px 45px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    margin: 20px auto 10px;
    display: block;
    border: none;
    width: 200px
}


a {
    font-size: smaller; /* Adjust the value as needed */
}
html{
    background: linear-gradient(100deg, rgb(120, 188, 255), rgb(191, 122, 255));
 
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"),
    linear-gradient(80deg, rgb(224, 165, 222), rgb(107, 148, 253));
    background-position: 50% 50%;
    animation: background-move 10s linear infinite;
    background-size: 100vw auto, 100% 100%;
    background-size: unquote('max(100vw, 30em)') auto, 100% 100%;
    border-radius: 20px;
}

.login-container {
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px auto;
    background: rgba(238, 174, 202, 0.4);
    border: solid 1px;
    border-color: lightpink;
    border-radius: 10%;
    text-align: center; 
}

.loginbutton {
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%);
    padding: 15px 45px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    margin: 20px auto 10px;
    display: block;
    border: none;
}

label{
    color:white
}

.login-input {
    box-shadow: inset #ffbce5 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 80%; 
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    font-family: "Lucida Console", "Courier New", monospace;
}

.login-input:hover {
    box-shadow: 0 0 0 0 #fff inset, #1dbde9 0 0 0 2px;
}

.login-input:focus {
    background: #ffd3ef;
    color: rgb(118, 175, 255);
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #f28bff 0 0 0 3px;
}

